/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Fuentes  */

@font-face{
    font-family:"Lato";
    src:url("../fonts/Lato-Regular.ttf");
}

@font-face{
    font-family: "Muli";
    src:url("../fonts/Muli-Regular.ttf");
}

@font-face{
    font-family: "Ubuntu";
    src:url("../fonts/Ubuntu-Regular.ttf");
}
/* Header */
header,footer,main{
    font-family: "Lato";
}
.brand-logo{
    font-family: "Ubuntu";
}

/* Boxes */

.login-box{
    background-color: #fff;
    border: 1px solid #edeeee;
    border-radius: 3px;
    padding: 1px 0px;
    text-align: center;
}

.login-form{
    margin-top:-30px;
    margin-bottom: 30px;
    padding:0px 20px;
}

/* Form */

.row .input-field input:focus+label {
    color: #fbc02d !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #fbc02d !important;
    box-shadow: 0 1px 0 0 #fbc02d !important
}

.input-field .prefix.active {
    color: #fbc02d !important;
}

/* Buttons */

.login-btn{
    margin-top:30px;
}

.btn {
    font-family: "Ubuntu";
}

.btn-login{
    width: 60%;
}

/* Tetx */

h3{
    font-family:"Ubuntu";
    font-weight: bolder;
}

/* Loading screen */
.loading-screen{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
