/* Fuentes  */
@font-face{
    font-family:"Lato";
    src:url("../fonts/Lato-Regular.ttf");
}

@font-face{
    font-family: "Muli";
    src:url("../fonts/Muli-Regular.ttf");
}

@font-face{
    font-family: "Ubuntu";
    src:url("../fonts/Ubuntu-Regular.ttf");
}

/* Header */
header,footer{
    font-family: "Lato";
}
.brand-logo{
    font-family: "Ubuntu";
}
/* SideBar Menu */
main{
    padding-left: 300px;
    font-family:"Lato";
}

header,footer{
    padding-left: 300px;
}
.icon-tam{
    font-size: 3rem !important;

}
/* Sticky Footer */
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* Buttons */
.btn,
.btn-large,
.btn-flat{
    text-transform: none;
    font-family: "Ubuntu";

}

/* Inputs y formularios */
.input-field input:focus+label,
.input-field input[type=date]:focus+label,
.input-field textarea:focus+label{
    color: #1976d2 !important;
 }

.input-field input:focus,
.input-field input[type=date]:focus,
.row .input-field textarea:focus{
    border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important
}

.input-field .prefix.active{
    color: #1976d2 !important;
}


.input-field select option{
    color: #1976d2 !important;
}

/* Dropdowns */
ul.dropdown-content.select-dropdown li:not(.disabled) span {
    color: #0d47a1;
}

/* Tabs */
.tabs{
    overflow-x: hidden;
}

.tabs .tab a {
    color: #1976d2;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #0d47a1;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: rgba(102, 147, 153, 0.7);
}

.tabs .indicator {
    background-color: #0d47a1;
}

/* Modals */

.modal-delete{
    width: 60% !important;
    height: 60% !important;
}

.modal-update{
    width: 80% !important;
    height: 80% !important;
}

.modal-delete-att{
    width: 75% !important;
    height: 60% !important;
}


/* Datepicker */
.datepicker-date-display{
    /* Green - Gradient */
    background: #b3e5fc;
    background: -webkit-linear-gradient(45deg, #4caf50 0%, #1b5e20 100%);
    background: linear-gradient(45deg, #4caf50 0%, #1b5e20 100%);
}

.datepicker-table td.is-selected{
    /* Red - Gradient */
    background: #b3e5fc;
    background: -webkit-linear-gradient(top, #f44336 0%, #b71c1c 100%) !important;
    background: linear-gradient(45deg, #f44336 0%, #b71c1c 100%) !important;
    color: #fff !important;
}

.datepicker-table td.is-today{
    color: #fbc02d;
}

.datepicker-day-button:active/* ,
.datepicker-day-button .is-selected:active */{
    background-color: #d32f2f !important;
}

.datepicker-footer .datepicker-cancel,
.datepicker-footer .datepicker-done{
    color:#1b5e20;
}

.datepicker-footer .datepicker-clear{
    color:#b71c1c;
}

/* .month-prev,
.month-next{
    color:#1b5e20;
} */

/* Dashboard */
.dashboard-form .input-field label{
    color: #fff !important;
}

.dashboard-form input.select-dropdown{
    color: #fff !important;
}

.dashboard-form .modal input.select-dropdown {
    color:#000 !important;
}

.flat{
    background:rgba(0,0,0,.5);
}

.lateral-scrollbar::-webkit-scrollbar {
    width: 7px;
}

.lateral-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(162, 161, 162, .5);
    border-radius: 5px;
    border-right: 2px solid .000;
}

.lateral-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(162, 161, 162, .8)
}

.swal-text{
    text-align: center;
}

.swal-button{
    border-radius: 5px;
}

/*Helpers*/
.p-5x {
    padding: 10px;
}

.no-margin {
    margin: 0 !important;
}

.mt-1 {
    margin-top: 2px !important;
}

.mt-2 {
    margin-top: 4px !important;
}

.ml-1 {
    margin-left: 2px !important;
}